table {border: 10px; background-color: rgba(207, 241, 142, 0.199);}
h1{ text-align: center; background: linear-gradient(beige, rgb(162, 248, 237)

    );}
body {background: linear-gradient(rgb(153, 153, 243), rgb(183, 235, 183));}
.perfil {width: 200px; border-radius: 20%; border: 5px solid;}
